# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.yarnrc
.npmrc
*.tgz

/.next
/.storybook
/.vscode
/public
/scripts
/src

.eslintrc.js
next-env.d.ts
next.config.js
postcss.config.js
tailwind.config.js
.tsbuildinfo
tsconfig.json
tsconfig.production.json
